Host a.perf.cn
     Hostname 202.30.5.12
     User work

Host b.perf.cn
     Hostname 202.30.5.27
     User work

Host c.perf.cn
     Hostname 202.30.5.28
     User work

Host d.perf.cn
     Hostname 202.30.5.29
     User work

Host e.perf.cn
     Hostname 202.30.5.30
     User work

Host f.perf.cn
     Hostname 202.30.5.31
     User work

Host g.perf.cn
     Hostname 202.30.4.110
     User work
